<h1>Insert the form to create a new instance of your model.</h1>

<form method="post" action="/dinners">
  <label for="user_id">Users</label>
  <select name="user_id">
    <% @users_dinner.each do |user| %>
      <option value="<%= user.id %>"><%= user.name %></option>
    <% end %>
  </select>
  <label for="meal_id">Meals</label>
  <select name="meal_id">
    <% @meals_dinner.each do |meal| %>
      <option value="<%= meal.id %>"><%= meal.title %></option>
    <% end %>
  </select>
  <input type="submit" value="Create">
</form>