<h1>Insert the form to edit an instance of your model here.</h1>

<h3>Edit form for user: <%= @user.name %></h3>
<form class="" action="/users/<%= @user.id %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <label for="name">Name</label>
  <input type="text" value="<%= @user.name %>" name="user[name]">
  <input type="submit">
</form>

<br>
<a href="/users">Back to main manu</a>

