<form method="post" action="/puppy">
  <label for="name"> Puppy Name</label>
  <input type="text" id="name" name="name">
  <label for="breed"> Puppy Breed</label>
  <input type="text" id="breed" name="breed">
  <label for="age"> Puppy Age</label>
  <input type="text" id="months_old" name="months_old">
  <input type="submit" value="submit">
</form>